<!DOCTYPE html>

<html>
  <head>
    <title>Organism Gene Number Nano</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#if genome_stats}}
      <table class='table'>
        <tbody>
          <tr>
            <th>Gene number</th>
            <th>rRNA number</th>
            <th>tRNA number</th>
          </tr>
          <tr>
            <td>{{genome_stats.gene_number}}</td>
            <td>{{genome_stats.rrna_number}}</td>
            <td>{{genome_stats.trna_number}}</td>
          </tr>
        </tbody>
      </table>
    {{else}}
      <div>
        No data
      </div>
    {{/if}}
  </body>
</html>
