<!DOCTYPE html>

<html>
  <head>
    <title>Organism Microbial Cell Shape Nano</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
  <a href={{cell_shapes.first.cell_shape}}><img src={{cell_shapes.first.image_url}} alt={{cell_shapes.first.label}} width=105 height=105></a>
  </body>
</html>
