<!DOCTYPE html>

<html>
  <head>
    <title>Environment Organism Distribution On Ph Nano</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <p>pH   0-2: {{list.a}}</p>
    <p>pH   2-4: {{list.b}}</p>
    <p>pH   4-6: {{list.c}}</p>
    <p>pH   6-8: {{list.d}}</p>
    <p>pH  8-10: {{list.e}}</p>
    <p>pH 10-12: {{list.f}}</p>
    <p>pH 12-14: {{list.g}}</p>
  </body>
</html>
