<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>
    <div id="main-view">
      <p class="single-text-view text-size-adjust text-size-middle">{{results.first.gene_length}}<small>bp</small></p>
    </div>
  </body>
</html>
